.input-wrap {
  label {
    display: block;
    margin-top: 12px;
    margin-bottom: 7px;
    font-size: 14px;
    color: #666;
  }
  input {
    &[type="text"], &[type="password"] {
      width: 100%;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      height: 36px;
    }
    &[type='checkbox'] {
      display: none;
    }
  }
  &.checkbox {
    label {
      display: inline-flex;
      font-weight: 500;
      height: 24px;
      cursor: pointer;
    }
    input {
      + span {
        display: inline-flex;
        margin-right: 12px;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        border: 1px solid #ccc;
      }
    }
    input:checked {
      + span {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        border: none;
        background: url('/assets/img/checkbox-checked.svg') no-repeat center;
      }
    }
  }
}