.header {
  position: relative;
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid #EEEEEE;
  .menu {
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 26px;
    height: 26px;
    background: url(./header-m.svg) no-repeat center;
    background-size: contain;
  }
}